# Config for {{ item.hostname }}
hostname {{ item.hostname | upper }}
!
interface loopback0
  ip address {{ item.mgmt_ip }} 255.255.255.255
!
{% for interface in active_physical_interfaces %}
interface {{ interface.id }}
 description {{ interface.description }}
{% endfor %}
!
{% for interface in active_virtual_interfaces %}
interface {{ interface.id }}
 description {{ interface.description }}
 encapsulation {{ interface.encap }} {{ interface.encap_id }}
 standby 1 ip {{ interface.hsrp_ip }}
 standby 1 timers {{ interface.hsrp_hello }} {{ interface.hsrp_hold }}
 standby 1 priority {{ interface.hsrp_priority }}
!
{% endfor %}
!
router ospf 1
{% for key,value in routed_networks_common|dictsort %}
 network {{ value.network }} {{ value.wildcard }} {{ value.area }}
{% endfor %}
{% for unique in item.routed_networks_unique %}
 network {{ unique.network }} {{ unique.wildcard }} {{ unique.area }}
{% endfor %}
 ip ospf dead-interval {{ item.dead_interval }} hello-multiplier {{ item.hello_multiplier }}
!